<%- include('../partials/head') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form class="needs-validation" action="/users/<%=profile.user%>?_method=PUT" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" required value="<%=profile.name %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="bio">Bio</label>
                    <input class="form-control" type="text" id="bio" name="bio" required value="<%=profile.bio %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Phone</label>
                    <input class="form-control" type="text" id="phone" name="phone" required
                        value="<%=profile.phone %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="text" id="email" name="email" required
                        value="<%=profile.email %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Details</button>
                </div>
            </form>
            <a href="/users/<%= profile.user%>">Back To Details</a>

        </div>
    </div>

    <%- include('../partials/footer') %>